<footer>
    <div>
        Copyright &copy 2019 The Jungle Cook
    </div>
    <div>
        <a href="../login.html">Login</a>
        <a href="../recipes.html">Recipes by Catergory</a>
        <a href="">Privacy and Copyright</a>
        <a href="../create.html">Create Recipe</a>
        <a href="../yourRecipes.html">Your Recipes</a>
    </div>
    <div>
        <img class="social" src="../img/facebook.svg" alt="facebook">
        <img class="social" src="../img/instagram.svg" alt="instagram">
    </div>
    
</footer>